* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 30px;

    background: yellow;
    height: 100vh;
}

.flex-item{
    width: 100%;
    background: green;
    margin: 10px;
}