/* ================================================  Variáveis */
:root{
	--primary-color: #0A1128;
    --secondary-color: crimson;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem
}

/* ================================================  Elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


body{
    font-family: 'Anek Latin', sans-serif;
    color: var(--primary-color);
    font-size: 1.7rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Patua One', cursive;
}

h1{
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
}


h2{
    font-size: 3.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    line-height: 1;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2.5rem;
}

h5{
    font-size: 2rem;
}

h6{
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

/* ================================================  Classes */

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 var(--gap);
}

.section{
    height: 100vh;    
}

/* ================================================  Backgrounds Colors */

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-bg{
    background-image: url('../img/bg-main.svg');
    background-size: cover;
    background-position: center;
    color: var(--white-color);
}

/* ================================================  Menu */

.menu{
    position: fixed;
    width: 100%;
    background-color: var(--white-color);
    border-bottom: 2px solid var(--light-gray-color);
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 a{
    font-size: 3.2rem;
    color: var(--primary-color);
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-content ul li{
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.8rem;
}

.menu-content ul li a{
    color: var(--primary-color);
    position: relative;
    
}

.menu-content ul li a::after{
    content: '';
    position: absolute;
    transition: all 200ms ease-in-out;
    top: 2.5rem;
    left: 0;
    height: 0.2rem;
    width: 0;
    background: var(--secondary-color);
}

.menu-content ul li a:hover::after{
    height: 0.2rem;
    width: 100%;
    background: var(--secondary-color);
}

/* ================================================  Intro */

.intro-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    min-height: 100vh;
    text-align: left;
}

.intro-content h2{
    font-size: 3.2rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
}

.intro-content p{
    margin-bottom: 2rem;
}

.intro-content-text, .intro-img{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.intro-img img{
    padding: 2.5rem;
    max-width: 100%;
    height: 60%;
}

