/* Variáveis das cores */
:root{
    --primary-color: #0A1128;
    --secondary-color: rgb(220, 20, 60);
    --white-color: #ffffff;
    --light-gray-color: #eeeeee;
    --gap: 3rem;
}


/* Zerar CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Padronizando tamanho rem */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Fonts */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

/* Elementos */
h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 4.5rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    line-height: 1;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

a{
    text-decoration: none;
}

p{
    margin-bottom: 3rem;
}


/* Classes Estrutura*/

.main-bg{
    background-image: url('../img/background-section.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color)
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section{
    min-height: 100vh;
}

/* Classes do Menu */
.menu{
    position: fixed;
    width: 100%;
    border-bottom: 0.2rem solid var(--light-gray-color);
}



.menu ul{
    display: flex;
    list-style: none;
}

.menu ul li a{
    position: relative;
    display: block;
    padding: 2rem;
    font-size: 1.6rem;
}

.menu ul li a::after{
    content: "";
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    left: 25%;
    width: 50%;

}



.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
}

.menu h1 a{
    color: inherit;
}


.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
}


.menu-spacing{
    height: 6.5rem;
}


/* Seção Intro */
.intro-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.intro-text-content h2{
    margin-bottom: 5rem;
    text-transform: uppercase;
}

.intro-img img{
    max-width: 100%;
    max-height: auto;
}

/* Seção Top3 Content */
.top3-content{
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

/* Seção Grid */
.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
}

.grid-description{
    margin-bottom: 6rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 3rem;
}

.grid h3::before{
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-style: italic;
    font-size: 6rem;
    top: -2rem;
    left: 0;
    transform: rotate(5deg);
}