/* Variáveis das cores */
:root{
    --primary-color: #0A1128;
    --secondary-color: rgb(220, 20, 60);
    --white-color: #ffffff;
}


/* Zerar CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Padronizando tamanho rem */
html{
    font-size: 62.5%;
}

/* Fonts */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

/* Elementos */
h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}


/* Classes */

.main-bg{
    background-image: url('../img/background-section.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color)
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
}

.section{
    min-height: 100vh;
}